/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.btn-primary {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
}

/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 2rem;
    margin-left: 12px;
}

.nav-title span {
    color: #FF42A5;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-menu ul li {
    margin-left: 30px;
}

.follow-us {
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-us a {
    margin-right: 16px;
}

.nav-menu ul a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 0 240px;
}

.banner-contents {
    text-align: left;
}

.banner-title-primary {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-secondary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    margin-bottom: 30px;
}

.banner-info p {
    margin-bottom: 18px;
}

.banner-info p i {
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 24px;
}

.banner-images {
    max-width: 50%;
}

.banner-images img {
    width: 100%;
}

/******** mobile responsive styles *********/

@media screen and (max-width: 576px) {

    /* nav styles */
    .nav-container {
        flex-direction: column;
        padding: 80px 10px;
        align-items: center;
    }

    .nav-logo img {
        width: 20%;
    }

    .nav-title {
        font-size: 2rem;
        margin-left: 5px;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu ul li {
        margin-left: 0;
        margin-top: 30px;
    }

    .follow-us {
        padding: 12px 16px;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
    }

    /* banner styles */
    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 10px;
    }

    .banner-images {
        max-width: 100%;
    }

    .banner-images img {
        width: 100%;
    }

    .banner-title-primary {
        font-size: 2.5rem;
    }

    .banner-title-secondary {
        font-size: 4rem;
    }
}


/***** tablet responsive ******/

/* nav styles */
@media screen and (min-width: 576px) and (max-width: 1024px) {
    .nav-container {
        flex-direction: column;
        padding: 100px 10px;
        align-items: center;
    }

    .nav-menu ul {
        flex-direction: column;
        margin-top: 30px;
    }

    .nav-menu ul li {
        margin-left: 0;
        margin-top: 40px;
    }
}